{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keden Bot</title>
    <link rel="stylesheet" href="{% static 'kedenwebpages/style.css' %}" />
    <script src="https://telegram.org/js/telegram-web-app.js?57"></script>
</head>
<body>
    <h1>Добро пожаловать в бот<br><span class="highlight">Keden!</span></h1>
    <p>Ошибка {{ status }}</p>
    <p>Попробуйте сделать запрос еще раз.</p>
    
    {% if feedback %}
    <p id="feedback">Сообщение об ошибке: {{ feedback }}</p>
    {% endif %}
</body>
</html>