{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keden Bot</title>
    <link rel="stylesheet" href="{% static 'kedenwebpages/style.css' %}" />
    <script src="https://telegram.org/js/telegram-web-app.js?57"></script>
</head>
<body>
    <div class="container">
        <h1>Добро пожаловать в бот<br><span class="highlight">Keden!</span></h1>
        <p>Ваше заполненное заявление</p>
        <form id="user-form">
            {% for key, value in fields.items %}
                <label for="{{ key }}">{{ key }}</label>
                <textarea class="auto-resize" name="{{ key }}" id="{{ key }}" readonly>{{ value }}</textarea>
                <br>
            {% endfor %}

            {% for key in files %}
                <label for="{{ key }}">{{ key }}</label>
                <input type="text" name="{{ key }}" id="{{ key }}" value="Ваш файл загружен" readonly>
                <br>
            {% endfor %}


        <button type="submit" class="btn" disabled>Сохранить</button>
        </form>
    </div>
<script>
    function auto_resize(textarea){
        textarea.style.height = 'auto';
        textarea.style.height = textarea.scrollHeight + 3 + 'px' ;
    };
    document.addEventListener("DOMContentLoaded", ()=>{
        textareas = document.querySelectorAll('textarea.auto-resize');
        textareas.forEach(textarea => {
            auto_resize(textarea);
        });
    });
</script>
</body>
</html>