{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Keden Bot</title>
    <link rel="stylesheet" href="{% static 'kedenwebpages/style.css' %}" />
    <script src="https://telegram.org/js/telegram-web-app.js?57"></script>
</head>
<body>
    <div class="container">
        <h1>Добро пожаловать в бот<br><span class="highlight">Keden!</span></h1>
        <p>Ваше заполненное заявление</p>
        <form id="user-form">
            {% for key, value in fields.items %}
                <label for="{{ key }}">{{ key }}</label>
                <textarea class="auto-resize" name="{{ key }}" id="{{ key }}" readonly>{{ value }}</textarea>
                <br>
            {% endfor %}

            {% for key in files %}
                <label for="{{ key }}">{{ key }}</label>
                <input type="text" name="{{ key }}" id="{{ key }}" value="Ваш файл загружен" readonly>
                <br>
            {% endfor %}


        <button type="button" class="btn">Посмотреть файлы загруженные мной</button>
        </form>
    </div>
<script>
    const tg = window.Telegram.WebApp;
    tg.ready();
    function auto_resize(textarea){
        textarea.style.height = 'auto';
        textarea.style.height = textarea.scrollHeight + 3 + 'px' ;
    };
    async function send_urls_to_server(urls, user_id){
        const url = `https://keden-bot-backend.onrender.com/kedenbot/get_appl?chat_id=${user_id}`;
        try {
            const response = await fetch(url, {
                method: "POST",
                headers: { 'Content-Type': 'application/json', 'Accept': 'application/json' },
                body: JSON.stringify(urls)
            });

        } catch (error) {
            alert('Мы не смогли сделать запрос на отправку Ваших файлов. Попробуйте еще раз.')
        }
    };
    document.addEventListener("DOMContentLoaded", ()=>{
        const user_id = tg.initDataUnsafe.user?.id;
        textareas = document.querySelectorAll('textarea.auto-resize');
        textareas.forEach(textarea => {
            auto_resize(textarea);
        });

        document.addEventListener("click", async function(event){
            if(event.target.classList.contains("btn")){
                const urls = JSON.parse('{{ urls|safe|escapejs }}');
                await send_urls_to_server(urls, user_id);
                tg.close();
            }
        });
    });

</script>
</body>
</html>